<div class="stickyheader">
    <div class="b-ribbon">
        <span class="e-color-0"></span><span class="e-color-1"></span><span class="e-color-2"></span><span class="e-color-3"></span><span class="e-color-4"></span><span class="e-color-5"></span><span class="e-color-6"></span><span class="e-color-7"></span><span class="e-color-8"></span><span class="e-color-9"></span><span class="e-color-10"></span><span class="e-color-11"></span><span class="e-color-12"></span><span class="e-color-13"></span><span class="e-color-14"></span><span class="e-color-15"></span><span class="e-color-16"></span><span class="e-color-17"></span><span class="e-color-18"></span>
    </div>
</div>