.stickyheader {
  background-color: $white;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.b-ribbon {
  position: fixed;
  margin-top: 54px;
  left: 0;
  width: 100%;
  font-size: 0;
  line-height: 0;
}

.b-ribbon span {
  height: 6px;
  display: inline-block;
}

.b-ribbon .e-color-0 {
  background-color: #91d5e6;
  width: 2.89063%;
}

.b-ribbon .e-color-1 {
  background-color: #73cae4;
  width: 5.39063%;
}

.b-ribbon .e-color-2 {
  background-color: #00b9d5;
  width: 7.34375%;
}

.b-ribbon .e-color-3 {
  background-color: #91d5e6;
  width: 3.90625%;
}

.b-ribbon .e-color-4 {
  background-color: #927962;
  width: 10.39063%;
}

.b-ribbon .e-color-5 {
  background-color: #ae7d08;
  width: 5%;
}

.b-ribbon .e-color-6 {
  background-color: #d0ad4b;
  width: 3.04688%; }


.b-ribbon .e-color-7 {
  background-color: #824638;
  width: 4.84375%; }

.b-ribbon .e-color-8 {
  background-color: #9a6e02;
  width: 3.04688%; }

.b-ribbon .e-color-9 {
  background-color: #006f42;
  width: 7.5%; }

.b-ribbon .e-color-10 {
  background-color: #00a451;
  width: 3.90625%; }

.b-ribbon .e-color-11 {
  background-color: #006838;
  width: 2.10938%; }

.b-ribbon .e-color-12 {
  background-color: #009245;
  width: 7.65625%; }

.b-ribbon .e-color-13 {
  background-color: #8ac53e;
  width: 1.79687%; }

.b-ribbon .e-color-14 {
  background-color: #d5de22;
  width: 6.64063%; }

.b-ribbon .e-color-15 {
  background-color: #c3d72d;
  width: 4.0625%; }

.b-ribbon .e-color-16 {
  background-color: #81a33b;
  width: 7.65625%; }

.b-ribbon .e-color-17 {
  background-color: #9ebb2d;
  width: 2.89063%; }

.b-ribbon .e-color-18 {
  background-color: #c3d72d;
  width: 9.92188%; }